.headerWrapper {
  padding: var(--spacing-base);
  max-width: var(--layout);

  box-shadow: var(--shadow);
  background-color: var(--white);
}

.header {
  display: flex;
  align-items: center;

  gap: var(--spacing-mini);

  margin: auto;
}

.title {
  font-size: var(--heading-size-m);
  line-height: var(--heading-height-m);
  font-weight: var(--font-weight-bold);
}
